rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Warning: Open rules. Since the admin panel uses a hardcoded password instead of Firebase Auth, 
      // these must be open to allow the site to read and the admin panel to write.
      allow read, write: if true;
    }
  }
}
